* {
  box-sizing: border-box;
  font-family: "times new roman", Times, serif;
  border: 2px solid rgba(226, 96, 96, 0.1);

}

.app {
  min-height: 100vh;
  background: linear-gradient(to right, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  background: white;
  width: 420px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.25);
}

.title {
  text-align: center;
  color: #333;
}

.progress-bar {
  height: 10px;
  background: #e5e7eb;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #4caf50, #2e7d32);
  transition: width 0.4s ease;
}

.question-text {
  margin: 15px 0;
  font-size: 17px;
  font-weight: 500;
}

.option {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  background: #f9fafb;
  transition: 0.25s ease;
}

.option:hover {
  background: #eef2ff;
  border-color: #667eea;
}

.correct {
  background: #dcfce7;
  border-color: #16a34a;
  color: #166534;
  font-weight: bold;
}

.wrong {
  background: #fee2e2;
  border-color: #dc2626;
  color: #991b1b;
  font-weight: bold;
}

.feedback-text {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color:#3f0571;
}

.result-box {
  text-align: center;
}

.result-card {
  background: #f3f4f6;
  padding: 15px;
  border-radius: 12px;
  margin: 12px 0;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

.grade {
  color: #4f46e5;
}

.status {
  color: #16a34a;
}

.next-btn,
.restart-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  color: white;
  background: linear-gradient(to right, #6177d8, #4ba254);

}

.next-btn:hover,
.restart-btn:hover {
  box-shadow: 0px 6px 15px rgba(0,0,0,0.25);
}

.next-btn:disabled {
  background: #9ca3af;
  cursor:pointer;
}
